<div class="event-container" *ngIf="events">
  <div *ngFor="let event of events" class="event-card">
    <div class="event-details">
      <p>
        <span>{{ event.date | date }}</span>
        <span>{{ event.title }}</span>
        <span>Available Tickets: {{ event.availableTickets }}</span>
        <span class="ticket-price-container">
          <span class="ticket-price"> From ${{ event.ticketPrice }}</span>
        </span>
      </p>
      <div *ngIf="event.teams">
        <h4>{{ event.teams[0] }} vs {{ event.teams[1] }}</h4>
      </div>
      <div *ngIf="event.movieName">
        <h4>{{ event.movieName }}</h4>
      </div>
    </div>
    <div class="event-actions">
      <input type="number" [(ngModel)]="ticketQuantities[event.id]" min="1" placeholder="Tickets">
      <button (click)="buyEventTicket(event.id)">Buy Ticket</button>
    </div>
  </div>
</div>
